<!DOCTYPE html>
<html>

<head>
    <title>Hali ya Hewa </title>
    <link rel="stylesheet" href="static/css/homepage.css">
</head>

<body>
    <!-- background image -->
    <div class="bg"></div>
    <div class="container">
        <!-- Weather widget  -->
        <div class="widget">
            <div class="left">
                <img src="static/images/partly_cloudy.png" class="icon" width="40px">
                <h5 class="weather-status">Partly Cloudy</h5>

            </div>

        </div>
        <!-- End of weather widget -->

    </div>

</body>

</html>