<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Hali ya Hewa</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://kit.fontawesome.com/8df802755c.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- <header>
        <h2 style="color: rgb(109, 97, 4); font-size: 34px; font-family: sans-serif; font: bolder;">Hali Ya Hewa</h2>
    </header> -->
    <div class="container">
        <h1 style="color: rgb(109, 97, 4); font-size: 34px; font-family: sans-serif; font: bolder;">Hali Ya Hewa</h1>
        <div class="form-box">
            <form action="{{ url_for('signup')}}" method="post">

                <h1 id="title">Sign Up</h1>

                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="name" placeholder="Name">
                    </div>

                    <div class="input-field" id="cityField">
                        <i class="fa-solid fa-city"></i>
                        <input type="city" name="city" placeholder="City">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" name="email" placeholder="Email">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>

                    <p>Lost Password <a href="#">Click Here</a></p>

                </div>
                <div class="btn-field">
                    <button type="submit" id="signupBtn">Sign Up</button>

                    <button type="submit" id="signinBtn" class="disable">Sign in</button>
                </div>
            </form>
        </div>
    </div>
    <script>

        let signupBtn = document.getElementById("signupBtn");
        let signinBtn = document.getElementById("signinBtn");
        let nameField = document.getElementById("nameField");
        let cityField = document.getElementById("cityField");
        let title = document.getElementById("title");


        signinBtn.onclick = function () {
            nameField.style.display = "none";
            cityField.style.display = "none";
            title.innerHTML = "Sign In";
            signupBtn.classList.add("disable");
            signinBtn.classList.remove("disable");

        }

        signupBtn.onclick = function () {
            nameField.style.display = "";
            cityField.style.display = "";
            title.innerHTML = "Sign Up";
            signupBtn.classList.remove("disable");
            signinBtn.classList.add("disable");

        }
    </script>
</body>

</html>