<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF_8">
  <title>Hali ya Hewa</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

  <header>
    <h2 style="color: rgb(109, 97, 4); font-size: 34px; font-family: sans-serif; font: bolder;"> Hali Ya Hewa</h2>
  </header>


  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
        In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>

      <h2 class="active">sign in</h2>
      <h2 class="active">sign up</h2>
      <form>
        <input id="tab-1" type="radio" class="text" name="username">
        <span>username</span>
        <br>

        <br>

        <input type="password" class="text" name="password">
        <span>password</span>
        <br>

        <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
        <label for="checkbox-1-1">Keep me Signed in</label>

        <button class="signin">
          Sign In
        </button>

        <hr>

        <a href="#">Forgot Password</a>


        <div class="signup">
          <form>
            <div class="group">
              <input type="radio" class="text" name="Name">
              <span>Name</span>
              <br>

              <input type="city" class="text" name="City">
              <span>City</span>
            </div>
          </form>
        </div>
      </form>

    </div>
</body>

</html>